src/main/java/service11/HelloWorld.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example/" name="HelloWorldService">
<types>
<xsd:schema>
<xsd:import namespace="http://example/" schemaLocation="http://localhost:1234/HelloWorld?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="getAllCity">
<part name="parameters" element="tns:getAllCity"/>
</message>
<message name="getAllCityResponse">
<part name="parameters" element="tns:getAllCityResponse"/>
</message>
<message name="getOneCity">
<part name="parameters" element="tns:getOneCity"/>
</message>
<message name="getOneCityResponse">
<part name="parameters" element="tns:getOneCityResponse"/>
</message>
<message name="getAllDistrict">
<part name="parameters" element="tns:getAllDistrict"/>
</message>
<message name="getAllDistrictResponse">
<part name="parameters" element="tns:getAllDistrictResponse"/>
</message>
<message name="getOneDistrict">
<part name="parameters" element="tns:getOneDistrict"/>
</message>
<message name="getOneDistrictResponse">
<part name="parameters" element="tns:getOneDistrictResponse"/>
</message>
<message name="getAllPlace">
<part name="parameters" element="tns:getAllPlace"/>
</message>
<message name="getAllPlaceResponse">
<part name="parameters" element="tns:getAllPlaceResponse"/>
</message>
<message name="getDetailPlace">
<part name="parameters" element="tns:getDetailPlace"/>
</message>
<message name="getDetailPlaceResponse">
<part name="parameters" element="tns:getDetailPlaceResponse"/>
</message>
<message name="getCommentRating">
<part name="parameters" element="tns:getCommentRating"/>
</message>
<message name="getCommentRatingResponse">
<part name="parameters" element="tns:getCommentRatingResponse"/>
</message>
<message name="createPlace">
<part name="parameters" element="tns:createPlace"/>
</message>
<message name="createPlaceResponse">
<part name="parameters" element="tns:createPlaceResponse"/>
</message>
<message name="createRating">
<part name="parameters" element="tns:createRating"/>
</message>
<message name="createRatingResponse">
<part name="parameters" element="tns:createRatingResponse"/>
</message>
<message name="getRatingByPlaceId">
<part name="parameters" element="tns:getRatingByPlaceId"/>
</message>
<message name="getRatingByPlaceIdResponse">
<part name="parameters" element="tns:getRatingByPlaceIdResponse"/>
</message>
<message name="createComment">
<part name="parameters" element="tns:createComment"/>
</message>
<message name="createCommentResponse">
<part name="parameters" element="tns:createCommentResponse"/>
</message>
<message name="getCommentByPlaceId">
<part name="parameters" element="tns:getCommentByPlaceId"/>
</message>
<message name="getCommentByPlaceIdResponse">
<part name="parameters" element="tns:getCommentByPlaceIdResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getPlaceByCityId">
<part name="parameters" element="tns:getPlaceByCityId"/>
</message>
<message name="getPlaceByCityIdResponse">
<part name="parameters" element="tns:getPlaceByCityIdResponse"/>
</message>
<message name="getPlaceByDistrictId">
<part name="parameters" element="tns:getPlaceByDistrictId"/>
</message>
<message name="getPlaceByDistrictIdResponse">
<part name="parameters" element="tns:getPlaceByDistrictIdResponse"/>
</message>
<message name="getPlaceByName">
<part name="parameters" element="tns:getPlaceByName"/>
</message>
<message name="getPlaceByNameResponse">
<part name="parameters" element="tns:getPlaceByNameResponse"/>
</message>
<message name="sayHelloWorldFrom">
<part name="parameters" element="tns:sayHelloWorldFrom"/>
</message>
<message name="sayHelloWorldFromResponse">
<part name="parameters" element="tns:sayHelloWorldFromResponse"/>
</message>
<portType name="HelloWorld">
<operation name="register">
<input wsam:Action="http://example/HelloWorld/registerRequest" message="tns:register"/>
<output wsam:Action="http://example/HelloWorld/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="getAllCity">
<input wsam:Action="http://example/HelloWorld/getAllCityRequest" message="tns:getAllCity"/>
<output wsam:Action="http://example/HelloWorld/getAllCityResponse" message="tns:getAllCityResponse"/>
</operation>
<operation name="getOneCity">
<input wsam:Action="http://example/HelloWorld/getOneCityRequest" message="tns:getOneCity"/>
<output wsam:Action="http://example/HelloWorld/getOneCityResponse" message="tns:getOneCityResponse"/>
</operation>
<operation name="getAllDistrict">
<input wsam:Action="http://example/HelloWorld/getAllDistrictRequest" message="tns:getAllDistrict"/>
<output wsam:Action="http://example/HelloWorld/getAllDistrictResponse" message="tns:getAllDistrictResponse"/>
</operation>
<operation name="getOneDistrict">
<input wsam:Action="http://example/HelloWorld/getOneDistrictRequest" message="tns:getOneDistrict"/>
<output wsam:Action="http://example/HelloWorld/getOneDistrictResponse" message="tns:getOneDistrictResponse"/>
</operation>
<operation name="getAllPlace">
<input wsam:Action="http://example/HelloWorld/getAllPlaceRequest" message="tns:getAllPlace"/>
<output wsam:Action="http://example/HelloWorld/getAllPlaceResponse" message="tns:getAllPlaceResponse"/>
</operation>
<operation name="getDetailPlace">
<input wsam:Action="http://example/HelloWorld/getDetailPlaceRequest" message="tns:getDetailPlace"/>
<output wsam:Action="http://example/HelloWorld/getDetailPlaceResponse" message="tns:getDetailPlaceResponse"/>
</operation>
<operation name="getCommentRating">
<input wsam:Action="http://example/HelloWorld/getCommentRatingRequest" message="tns:getCommentRating"/>
<output wsam:Action="http://example/HelloWorld/getCommentRatingResponse" message="tns:getCommentRatingResponse"/>
</operation>
<operation name="createPlace">
<input wsam:Action="http://example/HelloWorld/createPlaceRequest" message="tns:createPlace"/>
<output wsam:Action="http://example/HelloWorld/createPlaceResponse" message="tns:createPlaceResponse"/>
</operation>
<operation name="createRating">
<input wsam:Action="http://example/HelloWorld/createRatingRequest" message="tns:createRating"/>
<output wsam:Action="http://example/HelloWorld/createRatingResponse" message="tns:createRatingResponse"/>
</operation>
<operation name="getRatingByPlaceId">
<input wsam:Action="http://example/HelloWorld/getRatingByPlaceIdRequest" message="tns:getRatingByPlaceId"/>
<output wsam:Action="http://example/HelloWorld/getRatingByPlaceIdResponse" message="tns:getRatingByPlaceIdResponse"/>
</operation>
<operation name="createComment">
<input wsam:Action="http://example/HelloWorld/createCommentRequest" message="tns:createComment"/>
<output wsam:Action="http://example/HelloWorld/createCommentResponse" message="tns:createCommentResponse"/>
</operation>
<operation name="getCommentByPlaceId">
<input wsam:Action="http://example/HelloWorld/getCommentByPlaceIdRequest" message="tns:getCommentByPlaceId"/>
<output wsam:Action="http://example/HelloWorld/getCommentByPlaceIdResponse" message="tns:getCommentByPlaceIdResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://example/HelloWorld/loginRequest" message="tns:login"/>
<output wsam:Action="http://example/HelloWorld/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getPlaceByCityId">
<input wsam:Action="http://example/HelloWorld/getPlaceByCityIdRequest" message="tns:getPlaceByCityId"/>
<output wsam:Action="http://example/HelloWorld/getPlaceByCityIdResponse" message="tns:getPlaceByCityIdResponse"/>
</operation>
<operation name="getPlaceByDistrictId">
<input wsam:Action="http://example/HelloWorld/getPlaceByDistrictIdRequest" message="tns:getPlaceByDistrictId"/>
<output wsam:Action="http://example/HelloWorld/getPlaceByDistrictIdResponse" message="tns:getPlaceByDistrictIdResponse"/>
</operation>
<operation name="getPlaceByName">
<input wsam:Action="http://example/HelloWorld/getPlaceByNameRequest" message="tns:getPlaceByName"/>
<output wsam:Action="http://example/HelloWorld/getPlaceByNameResponse" message="tns:getPlaceByNameResponse"/>
</operation>
<operation name="sayHelloWorldFrom">
<input wsam:Action="http://example/HelloWorld/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom"/>
<output wsam:Action="http://example/HelloWorld/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse"/>
</operation>
</portType>
<binding name="HelloWorldPortBinding" type="tns:HelloWorld">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOneCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllDistrict">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOneDistrict">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDetailPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCommentRating">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createRating">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRatingByPlaceId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCommentByPlaceId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlaceByCityId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlaceByDistrictId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlaceByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHelloWorldFrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HelloWorldService">
<port name="HelloWorldPort" binding="tns:HelloWorldPortBinding">
<soap:address location="http://localhost:1234/HelloWorld"/>
</port>
</service>
</definitions>